/** THE BELOW CSS KEYFRAME LINES CREATE THE BLUR EFFECT UPON LOADING OF THE PAGE. **/
/** Generic CSS **/
@keyframes blurin {
    from {  -webkit-filter: blur(15px);
            -moz-filter: blur(15px);
            -o-filter: blur(15px);
            -ms-filter: blur(15px);
            filter: blur(15px);      }
    to   {  -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            filter: blur(0px);      }
}

/** Mozilla Firefox **/
@-moz-keyframes blurin {
    from {  -webkit-filter: blur(15px);
            -moz-filter: blur(15px);
            -o-filter: blur(15px);
            -ms-filter: blur(15px);
            filter: blur(15px);      }
    to   {  -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            filter: blur(0px);      }
}

/** Apple Safari and Google Chrome **/
@-webkit-keyframes blurin {
    from {  -webkit-filter: blur(15px);
            -moz-filter: blur(15px);
            -o-filter: blur(15px);
            -ms-filter: blur(15px);
            filter: blur(15px);      }
    to   {  -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            filter: blur(0px);      }
}

/** Windows Internet Explorer and Microsoft Edge **/
@-ms-keyframes blurin {
    from {  -webkit-filter: blur(15px);
            -moz-filter: blur(15px);
            -o-filter: blur(15px);
            -ms-filter: blur(15px);
            filter: blur(15px);      }
    to   {  -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            filter: blur(0px);      }
}

/** Opera **/
@-o-keyframes blurin {
    from {  -webkit-filter: blur(15px);
            -moz-filter: blur(15px);
            -o-filter: blur(15px);
            -ms-filter: blur(15px);
            filter: blur(15px);      }
    to   {  -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            filter: blur(0px);      }
}

/** THE BELOW CSS KEYFRAME LINES CREATE THE TYPING EFFECT WHEN WRITING THE SPLASH SCREEN TITLE. **/
/** Generic CSS **/
@keyframes typing {
    from {  width: 0;     }
    to   {  width: 50%;  }
}

/** Mozilla Firefox **/
@-moz-keyframes typing {
    from {  width: 0;     }
    to   {  width: 50%;  }
}

/** Apple Safari and Google Chrome **/
@-webkit-keyframes typing {
    from {  width: 0;     }
    to   {  width: 50%;  }
}

/** Windows Internet Explorer and Microsoft Edge **/
@-ms-keyframes typing {
    from {  width: 0;     }
    to   {  width: 50%;  }
}

/** Opera **/
@-o-keyframes typing {
    from {  width: 0;     }
    to   {  width: 50%;  }
}

/** Generic CSS **/
@keyframes blink-caret {
    from, to {  border-color: transparent;         }
    50%      {  border-color: rgb(255, 255, 255);  }
}

/** Mozilla Firefox **/
@-moz-keyframes blink-caret {
    from, to {  border-color: transparent;         }
    50%      {  border-color: rgb(255, 255, 255);  }
}

/** Apple Safari and Google Chrome **/
@-webkit-keyframes blink-caret {
    from, to {  border-color: transparent;         }
    50%      {  border-color: rgb(255, 255, 255);  }
}

/** Windows Internet Explorer and Microsoft Edge **/
@-ms-keyframes blink-caret {
    from, to {  border-color: transparent;         }
    50%      {  border-color: rgb(255, 255, 255);  }
}

/** Opera **/
@-o-keyframes blink-caret {
    from, to {  border-color: transparent;         }
    50%      {  border-color: rgb(255, 255, 255);  }
}
