/** Main page styling and fonts. **/
html {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/** Browser compatibility with Windows Internet Explorer 8 and prior versions. **/
header, section, footer, aside, nav, main, article, figure {
    display: block;
}

/** Resetting HTML default margins and padding to 0 to avoid any styling errors. **/
body {
    margin: 0;
    padding: 0;
    
    animation: blurin 2s;
    -webkit-animation: blurin 2s;
    -moz-animation: blurin 2s;
    -ms-animation: blurin 2s;
    -o-animation: blurin 2s;
}

body > #navigation-bar {
    height: 65px;
    width: 100%;
    align-items: center;
    
    border-bottom: 1px solid rgb(220, 220, 220);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 0.75);
    -ms-box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 0.75);
    -o-box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 0.75);
    box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 0.75);
}

/** Logo styling **/
body > #navigation-bar > #logo {
    line-height: 40px;
    padding: 10px;
    display: table;
    margin-left: 15px;
    font-size: 24px;
    font-family: "Bungasai", sans-serif;
}

/** Splash screen **/
header {
    height: 100vh;
    background-image: url("../resources/bubble.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(34, 34, 34);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.content {
    height: 100vh;
    padding: 40px;
}

.content > .blogPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/** General items **/
p#title {
    font-size: 1.6em;
}

/** Hyperlink underlining animation **/
a {
    text-decoration: none;
    color: rgb(255, 69, 0);
    position: relative;
    
    transition: color ease-in-out 0.3s;
    -webkit-transition: color ease-in-out 0.3s;
    -moz-transition: color ease-in-out 0.3s;
    -ms-transition: color ease-in-out 0.3s;
    -o-transition: color ease-in-out 0.3s;
}

a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(68, 68, 68);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a:hover:before {
    visibility: visible;
    width: 100%;
}

a:hover {
    cursor: pointer;
    color: rgb(68, 68, 68);
}

/** Reference-specific styling **/
a#reference {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.8em;
}

/** Scroll down arrow**/
#down {
    position: absolute;
    top: 85vh;
    size: 40px;
    padding: 20px;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

#down:hover {
    cursor: pointer;
    
    transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
}

/** Title styling **/
#headerTitle {
    color: rgb(255, 255, 255);
    font-size: 4em;
}

#colouredText {
    color: rgb(255, 69, 0);
}
