/** Main page styling and fonts. **/
html {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;

    animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/** Logo styling **/
#navigation-bar > #logo {
    font-size: 24px;
    font-family: "Bungasai", sans-serif;
}

/** Browser compatibility with Windows Internet Explorer 8 and prior versions. **/
header, section, footer, aside, nav, main, article, figure {
    display: block;
}

/** Resetting HTML default margins and padding to 0 to avoid any styling errors. **/
body {
    margin: 0;
    padding: 0;
}

body > #navigation-bar {
    height: 65px;
    width: 100%;

    border-bottom: 1px solid rgb(220, 220, 220);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 0.75);
    -ms-box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 0.75);
    -o-box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 0.75);
    box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 0.75);
}

body > #navigation-bar > #logo {
    line-height: 40px;
    padding: 10px;
    display: table;
    margin: 0 auto;
}
